.body{
   background-color: aqua; 
}
.backdrop{
    position: fixed;
     top: 0%;
     left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.502);
}
.modal{
   background-color: aqua; 
}
.thumb{
    border: 10px solid aquamarine;
    width: 650px;
 border-radius: 50px;
overflow: hidden;
}